.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://cybuds.cc/content/uploads/photos/2021/04/cybuds_b6e6c683fa77f7cd6c47a06c083efc9e.png");
    background-size: 30%;
}

.item {
    margin-top: 30px;
    font-size: 30px;
    color: rgb(11, 218, 38);
    transition: all 0.3s ease;
    animation: pulse 2s infinite ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.item:hover {
    color: rgb(243, 82, 82);
}

@keyframes pulse {
    0% {
        transform: translate(0, 0) rotate(-5deg)
    }

    50% {
        transform: translate(3px, -3px) rotate(-5deg)
    }

    100% {
        transform: translate(0, 0) rotate(-5deg)
    }
}