.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://cybuds.cc/content/uploads/photos/2021/04/cybuds_b6e6c683fa77f7cd6c47a06c083efc9e.png");
    background-size: 30%;
    font-family: Impact, Charcoal, sans-serif;
}

.title {
    cursor: default;
    align-self: center;
    justify-self: start;
    margin-top: -18px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
    color: white;
    text-shadow: black 2px 1px 2px, black 2px 2px 2px, black 2px 3px 2px, black 2px 4px 2px, black 2px 5px 2px, black 2px 6px 2px, black 2px 7px 2px, black 2px 8px 2px, black 2px 9px 2px , black 2px 10px 2px, gray 0 5px 20px, gray 0 5px 30px, gray 0 5px 40px, gray 0 5px 50px;
}

.item {
    margin-top: 30px;
    font-size: 30px;
    color: rgb(11, 218, 38);
    transition: all 0.3s ease;
    animation: pulse 2s infinite ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.item:hover {
    color: rgb(243, 82, 82);
}

@keyframes pulse {
    0%{transform: translate(0, 0) rotate(-5deg)}
    50%{transform: translate(3px, -3px) rotate(-5deg)}
    100%{transform: translate(0, 0) rotate(-5deg)}
}