.NotFound {
    height: 100vh;
    background-image: url("../img/notFoundBgImg.jpg");
    background-size: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Impact, Charcoal, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backToMenu:hover {
    color: rgb(11, 218, 38);
}